.img{
padding-top: 1%;
padding-bottom: 1%;
padding-left: 1%;
    margin-top: 3%;
    margin-left: 4%;
    border-color: aliceblue;
    border-style: solid;
    margin-right: 4%;
    background-color: aliceblue;
   display: flex;
   

}
.seen{
    margin-left:3%;
}
.text{
  padding-left:15%;
}
.grid{
display: flex;

}
.post{
    margin-left: 4%;
    margin-top: 1%;
    display: flex;
  justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1%;
padding-bottom: 1%;
padding-left: 1%;
   margin-right: 4%;
    margin-left: 4%;
    border-color: aliceblue;
    border-style: solid;
    margin-right: 4%;
    background-color: aliceblue;
    padding-right: 1%;
}
