.img{

    margin-top: 5%;
    margin-left: 7%;
    border-color: rgb(113, 33, 89);
    border-style: solid;
    border-radius:7px ;

}
.text{
    margin-top: 1%;
    margin-left: 7%;
}
.grid{
    margin-left: 20%;
    margin-top: -2.75%;
}
